---
import { type CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import { GalleryDialog } from "./GalleryDialog";

interface Props {
  images: CollectionEntry<
    "dosomegoodImages" | "take10Images" | "take10arvosImages" | "genlinkImages"
  >[];
}

const { images } = Astro.props;
---

<section class="section-container">
  <div class="flex flex-wrap justify-center gap-6">
    {
      images.map(({ data: image }) => (
        <GalleryDialog client:visible>
          <Image
            slot="fullImage"
            src={image.image}
            width="1200"
            height="1200"
            alt={image.title}
            class="mx-auto rounded-2xl"
          />
          <Image
            src={image.image}
            width="192"
            height="192"
            alt={image.title}
            class="rounded-md object-cover shadow-md transition group-hover:scale-105"
          />
        </GalleryDialog>
      ))
    }
  </div>
</section>
