---
import "@/globals.css";

import { ClientRouter } from "astro:transitions";

import Header from "@/components/header/Header.astro";
import Footer from "@/components/footer/Footer.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <title>{title} - Vulnerable Support Charitable Trust</title>
    <meta charset="UTF-8" />
    <meta
      name="description"
      content="We are a registered charity keen on improving the well being of Wellington and Auckland's most vulnerable people."
    />
    <meta
      name="keywords"
      content="charity, wellington, auckland, trust, take10,  nz, new zealand"
    />
    <meta name="viewport" content="width=device-width" />

    <link rel="sitemap" href="/sitemap-index.xml" />

    <link
      rel="preload"
      href="/fonts/Sora.woff2"
      as="font"
      type="font/woff2"
      crossorigin="anonymous"
    />

    <ClientRouter fallback="swap" />

    <slot name="head" />
  </head>
  <body class="flex min-h-screen flex-col">
    <Header />

    <main class="my-12" transition:animate="slide">
      <slot />
    </main>

    <Footer />
  </body>
</html>
