---
import { ArrowLeft } from "lucide-react";

interface Props {
  prevUrl?: string;
  nextUrl?: string;
}

const { prevUrl, nextUrl } = Astro.props;
---

<div class="flex justify-center gap-6">
  {
    prevUrl && (
      <a
        href={prevUrl === "/news/1/" ? "/news/" : prevUrl}
        class="relative inline-flex rounded-md border border-black bg-gray-600 px-4 py-2 font-bold tracking-wide text-white no-underline shadow hover:no-underline active:left-1 active:top-1 active:shadow-none"
        aria-label="previous page"
        rel="prefetch"
      >
        <ArrowLeft strokeWidth={3} className="h-5 w-5" />
      </a>
    )
  }
  {
    nextUrl && (
      <a
        href={nextUrl}
        class="relative inline-flex rounded-md border border-black bg-gray-600 px-4 py-2 font-bold tracking-wide text-white no-underline shadow hover:no-underline active:left-1 active:top-1 active:shadow-none"
        aria-label="next page"
        rel="prefetch"
      >
        <ArrowLeft strokeWidth={3} className="h-5 w-5 rotate-180" />
      </a>
    )
  }
</div>
