---
import { ArrowLeft } from "lucide-react";

interface Props {
  prevUrl?: string;
  nextUrl?: string;
}

const { prevUrl, nextUrl } = Astro.props;
---

<div class="flex justify-center gap-6">
  {
    prevUrl && (
      <a
        href={prevUrl === "/news/1" ? "/news" : prevUrl + "/"}
        class="shadow-button inline-flex bg-gray-600"
        aria-label="previous page"
        rel="prefetch"
      >
        <ArrowLeft strokeWidth={3} className="h-5 w-5" />
      </a>
    )
  }
  {
    nextUrl && (
      <a
        href={nextUrl + "/"}
        class="shadow-button inline-flex bg-gray-600"
        aria-label="next page"
        rel="prefetch"
      >
        <ArrowLeft strokeWidth={3} className="h-5 w-5 rotate-180" />
      </a>
    )
  }
</div>
