---
import { ArrowLeft } from "lucide-react";

interface Props {
  prevUrl?: string;
  nextUrl?: string;
}

const { prevUrl, nextUrl } = Astro.props;
---

<div class="flex justify-center gap-6">
  {
    prevUrl && (
      <a
        href={prevUrl === "/news/1/" ? "/news/" : prevUrl}
        class="relative inline-block rounded-md border border-black/50 bg-gray-600 px-4 py-2 font-semibold tracking-wide text-white no-underline transition-all hover:bg-opacity-90 hover:no-underline active:translate-x-1 active:translate-y-1 active:shadow-none"
        aria-label="previous page"
        rel="prefetch"
      >
        <ArrowLeft strokeWidth={3} className="h-5 w-5" />
      </a>
    )
  }
  {
    nextUrl && (
      <a
        href={nextUrl}
        class="relative inline-block rounded-md border border-black/50 bg-gray-600 px-4 py-2 font-semibold tracking-wide text-white no-underline transition-all hover:bg-opacity-90 hover:no-underline active:translate-x-1 active:translate-y-1 active:shadow-none"
        aria-label="next page"
        rel="prefetch"
      >
        <ArrowLeft strokeWidth={3} className="h-5 w-5 rotate-180" />
      </a>
    )
  }
</div>

<style>
  a {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    box-shadow:
      1px 1px 0 0 black,
      2px 2px 0 0 black,
      4px 4px 0 0 black;
  }
</style>
