---
import { getCollection, getEntry } from "astro:content";

import Layout from "@/components/layouts/Layout.astro";
import Programmes from "@/components/pages/home/Programmes.astro";
import { Quotes } from "@/components/pages/home/Quotes";

import NewsCard from "@/components/pages/news/NewsCard.astro";
import HowYouCanHelp from "@/components/pages/home/HowYouCanHelp.astro";
import OurNumbers from "@/components/pages/home/OurNumbers.astro";

const posts = (await getCollection("posts", ({ data }) => data.published)).sort(
  (a, b) => Number(b.data.date) - Number(a.data.date),
);

const page = await getEntry("pages", "index");
const { Content } = await page.render();
---

<Layout title={page.data.title}>
  <Fragment slot="head">
    <link rel="preload" href="/img/programmes/dosomegood.jpg" as="image" />
    <link rel="preload" href="/img/programmes/take10.jpg" as="image" />
    <link rel="preload" href="/img/programmes/take10-arvos.jpg" as="image" />
    <link rel="preload" href="/img/programmes/gen-link.webp" as="image" />
  </Fragment>

  <Programmes page={page.data} />

  <HowYouCanHelp />

  <section>
    <div class="section-container text-center">
      <h2>Helping rangatahi and tamariki in Wellington</h2>

      <Content />

      <a href="/who-we-are/" class="shadow-button bg-gray-600">Who We Are</a>
    </div>
  </section>

  <section>
    <div class="section-container"><Quotes client:visible /></div>
  </section>

  <section>
    <div class="section-container">
      <h2>Latest News</h2>

      <div
        class="news-grid grid gap-6 sm:grid-cols-2 sm:gap-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
      >
        {posts.slice(0, 5).map((post) => <NewsCard post={post} />)}
      </div>
    </div>
  </section>

  <OurNumbers page={page.data} />
</Layout>

<style>
  .news-grid {
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    row-gap: 0;
    overflow: hidden;
  }
</style>
