---
import { getCollection, getEntry, render } from "astro:content";

import Layout from "@/components/layouts/Layout.astro";
import Section from "@/components/layouts/section.astro";
import FullSection from "@/components/layouts/full-section.astro";
import H2 from "@/components/headings/h2.astro";

import Programmes from "@/components/pages/home/Programmes.astro";
import { Quotes } from "@/components/pages/home/Quotes";

import NewsCard from "@/components/pages/news/NewsCard.astro";
import HowYouCanHelp from "@/components/pages/home/HowYouCanHelp.astro";

import Newsletter from "@/components/Newsletter.astro";

const posts = (await getCollection("posts", ({ data }) => data.published)).sort(
  (a, b) => Number(b.data.date) - Number(a.data.date),
);

const entry = await getEntry("pages", "index");
if (!entry) throw new Error("Could not find page");

const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
  <HowYouCanHelp />

  <Section>
    <Programmes page={entry.data} />
  </Section>

  <Section class="text-center">
    <H2>Helping rangatahi and tamariki in Wellington</H2>

    <Content />
  </Section>

  <Section
    ><H2>Subscribe to our newsletter</H2>
    <Newsletter />
  </Section>

  <FullSection>
    <H2>What people are saying</H2>

    <Quotes />
  </FullSection>

  <Section>
    <H2>Latest news</H2>

    <div
      class="mx-auto grid max-w-screen-lg gap-6 sm:grid-cols-2 lg:grid-cols-3"
    >
      {posts.slice(0, 3).map((post) => <NewsCard post={post} />)}
    </div>
  </Section>
</Layout>
