---
import { getCollection, getEntry, render } from "astro:content";

import Layout from "@/components/layouts/Layout.astro";
import Section from "@/components/layouts/section.astro";
import FullSection from "@/components/layouts/full-section.astro";
import H2 from "@/components/headings/h2.astro";

import Programmes from "@/components/pages/home/Programmes.astro";
import { Quotes } from "@/components/pages/home/Quotes";

import NewsCard from "@/components/pages/news/NewsCard.astro";
import HowYouCanHelp from "@/components/pages/home/HowYouCanHelp.astro";
import OurNumbers from "@/components/pages/home/OurNumbers.astro";

import Newsletter from "@/components/Newsletter.astro";

const posts = (await getCollection("posts", ({ data }) => data.published)).sort(
  (a, b) => Number(b.data.date) - Number(a.data.date),
);

const entry = await getEntry("pages", "index");
if (!entry) throw new Error("Could not find page");

const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
  <Section>
    <Programmes page={entry.data} />
  </Section>

  <HowYouCanHelp />

  <Section class="text-center">
    <H2>Helping rangatahi and tamariki in Wellington</H2>

    <Content />
  </Section>

  <Section><Newsletter /></Section>

  <FullSection>
    <H2>What people are saying</H2>

    <Quotes />
  </FullSection>

  <Section>
    <H2>Latest news</H2>

    <div
      class="news-grid grid gap-6 sm:grid-cols-2 sm:gap-10 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 2xl:grid-cols-5"
    >
      {posts.slice(0, 5).map((post) => <NewsCard post={post} />)}
    </div>
  </Section>

  <!--<OurNumbers page={entry.data} />-->
</Layout>

<style>
  .news-grid {
    grid-template-rows: 1fr;
    grid-auto-rows: 0;
    row-gap: 0;
    overflow: hidden;
  }
</style>
