---
import { getEntry, render } from "astro:content";
import { Image } from "astro:assets";

import Layout from "@/components/layouts/Layout.astro";
import Section from "@/components/layouts/section.astro";

import TextBanner from "@/components/TextBanner.astro";
import Form from "@/components/Form.astro";
import { Label } from "@/components/ui/label";
import { Input } from "@/components/ui/input";
import { Textarea } from "@/components/ui/textarea";

const entry = await getEntry("pages", "sponsor-a-school");
if (!entry) throw new Error("Could not find page");

const { Content } = await render(entry);
---

<Layout title={entry.data.title}>
  <TextBanner title={entry.data.title} />

  <Section>
    <Image
      src={import("@/assets/img/home/sponsor.png")}
      width="77"
      height="77"
      alt="sponsor image"
      fetchpriority="high"
      loading="eager"
      class="mx-auto"
      transition:name="sponsor"
    /></Section
  >

  <Section class="grid gap-6 lg:grid-cols-2 lg:gap-9">
    <div>
      <Image
        src={import("@/assets/img/banner/default.jpg")}
        width="512"
        height="512"
        alt="Do Some Good logo"
        fetchpriority="high"
        loading="eager"
        class="mx-auto mb-6 max-h-64 w-full rounded-3xl object-cover shadow-lg"
      />

      <Content />
    </div>

    <div>
      <Form name="sponsor">
        <div>
          <Label htmlFor="name" className="required">Name</Label>
          <Input
            className="shadow-border"
            type="text"
            id="name"
            name="name"
            required
          />
        </div>

        <div>
          <Label htmlFor="email" className="required">Email</Label>
          <Input
            className="shadow-border"
            type="email"
            id="email"
            name="email"
            required
          />
        </div>

        <div>
          <Label htmlFor="phone">Phone Number</Label>
          <Input className="shadow-border" type="tel" id="phone" name="phone" />
        </div>

        <div>
          <Label htmlFor="website">Website</Label>
          <Input
            className="shadow-border"
            type="url"
            id="website"
            name="website"
          />
        </div>

        <div class="sm:col-span-2">
          <Label htmlFor="message" className="required">Message</Label>
          <Textarea
            className="shadow-border"
            id="message"
            name="message"
            rows={4}
            required
          />
        </div>
      </Form>
    </div>
  </Section>
</Layout>
