---
import Layout from "@/components/layouts/Layout.astro";
import Section from "@/components/layouts/section.astro";
import Banner from "@/components/Banner.astro";

const title = "Message Sent";
---

<Layout title={title}>
  <Banner title={title} programme="contact" />

  <Section class="flex flex-col justify-center gap-6">
    <h2 class="text-center text-lg">
      Thanks for your message - we'll get back to you as soon as possible.
    </h2>
  </Section>
</Layout>
