---
import { getCollection } from "astro:content";

import Layout from "@/components/layouts/Layout.astro";
import Section from "@/components/layouts/section.astro";

import TextBanner from "@/components/TextBanner.astro";
import TeamMember from "@/components/pages/team/TeamMember.astro";

const trustMembers = (await getCollection("trust")).sort(
  (a, b) => a.data.order - b.data.order,
);

const title = "The Trust";
---

<Layout title={title}>
  <TextBanner title={title} />

  <Section>
    <div class="grid gap-6 md:grid-cols-2 md:gap-9 lg:grid-cols-3">
      {
        trustMembers.map((trust) => (
          <TeamMember trust={trust} category="trust" />
        ))
      }
    </div>
  </Section>
</Layout>
