---
import { Image } from "astro:assets";

import Layout from "@/components/layouts/Layout.astro";
import Section from "@/components/layouts/section.astro";
import AnchorButton from "@/components/layouts/anchor-button.astro";

import TextBanner from "@/components/TextBanner.astro";
import ProgrammeGrid from "@/components/programmes/ProgrammeGrid.astro";
import ProgrammeCard from "@/components/programmes/ProgrammeCard.astro";
import Form from "@/components/Form.astro";
import { Label } from "@/components/ui/label";
import { Input } from "@/components/ui/input";
import { RoleSelect } from "@/components/pages/volunteer/RoleSelect";
import { Textarea } from "@/components/ui/textarea";

const title = "Volunteer";
---

<Layout title={title}>
  <TextBanner title={title} />

  <Section>
    <Image
      src={import("@/assets/img/home/volunteer.png")}
      width="77"
      height="77"
      alt="volunteer image"
      fetchpriority="high"
      loading="eager"
      class="mx-auto"
      transition:name="volunteer"
    /></Section
  >

  <Section>
    <ProgrammeGrid>
      <ProgrammeCard programme="dosomegood">
        <p>
          Help influence positive change for tamariki living in hardship here in
          Wellington.
        </p>
        <p class="mb-0">
          We're looking for volunteers to come out with us to schools, and have
          a great day with tamariki in need.
        </p>
      </ProgrammeCard>

      <ProgrammeCard programme="take10">
        <p>Help provide a safe zone on Courtenay Place.</p>
        <p>
          We’re looking for volunteers on Friday or Saturday nights from 10pm to
          3am.
        </p>
      </ProgrammeCard>

      <ProgrammeCard programme="take10-auckland">
        <p>Take 10 Auckland Help provide a safe zone on Auckland Central.</p>

        <p>
          We’re looking for volunteers on Friday or Saturday nights from 10pm to
          3am.
        </p>
      </ProgrammeCard>
    </ProgrammeGrid>

    <div class="mt-6 flex justify-center">
      <AnchorButton href="/take10/volunteer.pdf" class="bg-gray-600 text-sm"
        >Take 10 Role Description</AnchorButton
      >
    </div>
  </Section>

  <Section>
    <Form name="volunteer">
      <div>
        <Label htmlFor="name" className="required">Name</Label>
        <Input
          className="shadow-border"
          type="text"
          id="name"
          name="name"
          required
        />
      </div>

      <div>
        <Label htmlFor="email" className="required">Email</Label>
        <Input
          className="shadow-border"
          type="email"
          id="email"
          name="email"
          required
        />
      </div>

      <div class="sm:col-span-2">
        <Label htmlFor="role" className="required">Role</Label>
        <RoleSelect client:load />
      </div>

      <div class="sm:col-span-2">
        <Label htmlFor="message" className="required">Message</Label>
        <Textarea
          className="shadow-border"
          id="message"
          name="message"
          rows={4}
          required
        />
      </div>
    </Form>
  </Section>
</Layout>
