---
import { Image } from "astro:assets";

import Layout from "@/components/layouts/Layout.astro";
import TextBanner from "@/components/TextBanner.astro";
import ProgrammeGrid from "@/components/programmes/ProgrammeGrid.astro";
import ProgrammeCard from "@/components/programmes/ProgrammeCard.astro";

const title = "Who We Are";
---

<Layout title={title}>
  <TextBanner title={title} />

  <section class="section-container space-y-6 text-center">
    <Image
      src={import("@/assets/img/icon.png")}
      width="192"
      height="192"
      alt="Vulnerable Support Charitable Trust logo"
      loading="eager"
      class="mx-auto"
    />
    <p>
      We are a charity keen on supporting tamariki in need by providing food in
      schools, young people in the city on Friday and Saturday nights, and older
      people who may be feeling alone or isolated.
    </p>
    <p>
      We are a registered charity <a
        href="https://register.charities.govt.nz/Charity/CC55753"
        target="_blank">CC55753</a
      >.
    </p>

    <div>
      <a href="/trust/" class="shadow-button bg-gray-600" rel="prefetch"
        >Meet the Trust</a
      >
    </div>
  </section>

  <section class="section-container">
    <h2>Our Work</h2>

    <ProgrammeGrid>
      <ProgrammeCard programme="dosomegood">
        <p>
          Helping Wellington businesses find opportunities to help the schools
          and kiwi kids who need it most.
        </p>

        <p class="mb-0">
          We want to help build connections between businesses and low decile
          schools to generate positive change in how we look after our people.
        </p>
      </ProgrammeCard>

      <ProgrammeCard programme="take10">
        <p>
          A late-night safe-zone on Courtenay Place with free water, phone
          charging, medical help, refuge, and advice.
        </p>

        <p class="mb-0">
          We provide a safe space to “take 10” for those who may need a break
          form drinking, need help, or just want a break.
        </p>
      </ProgrammeCard>

      <ProgrammeCard programme="take10-arvos">
        <p class="mb-0">
          Our focus is to increase the reach Take 10 has in the community by
          extending the services we offer to rangatahi in the form of a
          youth-zone.
        </p>
      </ProgrammeCard>

      <ProgrammeCard programme="gen-link">
        <p class="mb-0">
          Generation Link aims to lessen the generation gap by connecting
          tamariki with older folk within their local communities.
        </p>
      </ProgrammeCard>
    </ProgrammeGrid>
  </section>
</Layout>
