---
import type { PaginateFunction } from "astro";
import { getCollection } from "astro:content";

import Layout from "@/components/layouts/Layout.astro";
import Section from "@/components/layouts/section.astro";

import NewsGrid from "@/components/pages/news/NewsGrid.astro";
import NewsCard from "@/components/pages/news/NewsCard.astro";
import Pagination from "@/components/pages/news/Pagination.astro";

export const getStaticPaths = async ({
  paginate,
}: {
  paginate: PaginateFunction;
}) => {
  const posts = (
    await getCollection("posts", ({ data }) => data.published)
  ).sort((a, b) => Number(b.data.date) - Number(a.data.date));

  return paginate(posts, { pageSize: 8 });
};

const { page } = Astro.props;

const title = "News";
---

<Layout title={title}>
  <Section class="space-y-6">
    <NewsGrid>
      {page.data.map((post) => <NewsCard post={post} />)}
    </NewsGrid>

    <Pagination prevUrl={page.url.prev} nextUrl={page.url.next} />
  </Section>
</Layout>
