---
import { Image } from "astro:assets";

import { Navigation } from "./Navigation";
import { MobileSheet } from "./MobileSheet";

const pathname = new URL(Astro.request.url).pathname;
---

<header
  id="site-header"
  class="sticky top-0 z-20 w-full bg-white transition"
  transition:animate="none"
>
  <div
    class="mx-auto my-5 flex items-center justify-between gap-6 px-5 lg:container lg:max-w-7xl"
  >
    <a href="/" aria-label="home page" rel="prefetch"
      ><Image
        src={import("@/assets/img/logo.png")}
        width="413"
        height="75"
        alt="Vulnerable Support Charitable Trust logo"
        class="h-auto w-full max-w-[275px]"
        fetchpriority="high"
        loading="eager"
      /></a
    >

    <div class="hidden lg:block">
      <Navigation pathname={pathname} client:visible />
    </div>

    <div class="lg:hidden">
      <MobileSheet client:visible />
    </div>
  </div>
</header>

<script>
  function applyHeader() {
    const header = document.getElementById("site-header");

    window.addEventListener("scroll", () => {
      if (window.scrollY > 10) {
        header?.classList.add("border-b", "border-stone-200");
      } else {
        header?.classList.remove("border-b", "border-stone-200");
      }
    });
  }

  document.addEventListener("astro:after-swap", applyHeader);
  applyHeader();
</script>
