---
import { Image } from "astro:assets";

import { Navigation } from "./Navigation";
import { MobileSheet } from "./MobileSheet";

const pathname = new URL(Astro.request.url).pathname;
---

<header class="sticky top-0 z-20 w-full bg-white">
  <div
    class="mx-auto my-5 flex items-center justify-between gap-10 px-5 lg:container lg:max-w-7xl"
  >
    <a href="/" aria-label="home page" rel="prefetch"
      ><Image
        src={import("@/assets/img/logo.png")}
        width="413"
        height="75"
        alt="Vulnerable Support Charitable Trust logo"
        class="h-auto w-full max-w-[275px]"
        fetchpriority="high"
        loading="eager"
      /></a
    >

    <div class="hidden lg:block">
      <Navigation pathname={pathname} client:visible />
    </div>

    <div class="lg:hidden">
      <MobileSheet client:visible />
    </div>
  </div>
</header>
