---
import Button from "@/components/layouts/button.astro";

import { Input } from "@/components/ui/input";
import { Label } from "@/components/ui/label";
---

<div id="mc_embed_shell">
  <div id="mc_embed_signup">
    <form
      action="https://vsctrust.us11.list-manage.com/subscribe/post?u=8931bff157bafa644bad41e4a&id=ea3332c16f&f_id=00858de0f0"
      method="post"
      id="mc-embedded-subscribe-form"
      name="mc-embedded-subscribe-form"
      onsubmit="localStorage.setItem('newsletter-modal', 'true')"
      class="validate mx-auto grid max-w-sm gap-6"
      target="_self"
    >
      <div id="mc_embed_signup_scroll">
        <div class="mc-field-group">
          <Label htmlFor="mce-EMAIL" className="required text-sm"
            >Email Address</Label
          >
          <Input
            className="shadow-border"
            type="email"
            id="mce-EMAIL"
            name="EMAIL"
            required
          />
        </div>
      </div>

      <div class="mc-field-group">
        <Label htmlFor="mce-FNAME" className="required text-sm"
          >First Name</Label
        >
        <Input
          className="shadow-border"
          type="text"
          id="mce-FNAME"
          name="FNAME"
          required
        />
      </div>

      <div class="mc-field-group">
        <Label htmlFor="mce-LNAME" className="required text-sm">Last Name</Label
        >
        <Input
          className="shadow-border"
          type="text"
          id="mce-LNAME"
          name="LNAME"
          required
        />
      </div>

      <div id="mce-responses" class="clear foot hidden">
        <div class="response" id="mce-error-response" style="display: none;">
        </div>
        <div class="response" id="mce-success-response" style="display: none;">
        </div>
      </div>
      <div aria-hidden="true" style="position: absolute; left: -5000px;">
        <input
          type="text"
          name="b_8931bff157bafa644bad41e4a_ea3332c16f"
          tabindex="-1"
          value=""
        />
      </div>
      <div class="optionalParent">
        <div class="clear foot flex items-center justify-between">
          <Button type="submit" class="w-full bg-gray-600">Subscribe</Button>
        </div>
      </div>
    </form>
  </div>
</div>
