---
import H1 from "@/components/headings/h1.astro";

interface Props {
  title: string;
}

const { title } = Astro.props;
---

<section class="relative h-64">
  <H1
    class="absolute left-1/2 top-1/2 w-full -translate-x-1/2 -translate-y-1/2 text-center"
    >{title}</H1
  >
</section>
