---
import { Image } from "astro:assets";

import Section from "@/components/layouts/section.astro";
import H2 from "@/components/headings/h2.astro";
---

<Section>
  <H2>How you can help</H2>
  <div class="flex flex-wrap justify-center gap-6 lg:gap-10">
    <a href="/donate/">
      <Image
        src={import("@/assets/img/home/donate.png")}
        width="48"
        height="48"
        alt=""
        class="mx-auto"
        transition:name="donate"
      />
      <h3 class="mt-2 text-center text-lg font-bold">Make a Donation</h3>
    </a>

    <a href="/volunteer/">
      <Image
        src={import("@/assets/img/home/volunteer.png")}
        width="48"
        height="48"
        alt=""
        class="mx-auto"
        transition:name="volunteer"
      />
      <h3 class="mt-2 text-center text-lg font-bold">Become a Volunteer</h3>
    </a>

    <a href="/sponsor-a-school/">
      <Image
        src={import("@/assets/img/home/sponsor.png")}
        width="48"
        height="48"
        alt=""
        class="mx-auto"
        transition:name="sponsor"
      />
      <h3 class="mt-2 text-center text-lg font-bold">Sponsor a School</h3>
    </a>
  </div>
</Section>
