---
import { Image } from "astro:assets";

import Section from "@/components/layouts/section.astro";
import H2 from "@/components/headings/h2.astro";
---

<Section class="mt-12">
  <H2>How you can help</H2>
  <div
    class="flex flex-col flex-wrap justify-center gap-6 sm:flex-row lg:gap-12"
  >
    <a href="/donate/">
      <Image
        src={import("@/assets/img/home/donate.png")}
        width="48"
        height="48"
        alt=""
        class="mx-auto size-10 lg:size-12"
        transition:name="donate"
      />
      <h3 class="mt-2 text-center text-lg font-semibold">Make a Donation</h3>
    </a>

    <a href="/volunteer/">
      <Image
        src={import("@/assets/img/home/volunteer.png")}
        width="48"
        height="48"
        alt=""
        class="mx-auto size-10 lg:size-12"
        transition:name="volunteer"
      />
      <h3 class="mt-2 text-center text-lg font-semibold">Become a Volunteer</h3>
    </a>

    <a href="/sponsor-a-school/">
      <Image
        src={import("@/assets/img/home/sponsor.png")}
        width="48"
        height="48"
        alt=""
        class="mx-auto size-10 lg:size-12"
        transition:name="sponsor"
      />
      <h3 class="mt-2 text-center text-lg font-semibold">Sponsor a School</h3>
    </a>
  </div>
</Section>
