---
import { Icon } from "astro-icon/components";

interface Props {
  page: {
    schools: string;
    take10Visitors: string;
    waterGiven: string;
    mealsForTamariki: string;
  };
}

const {
  page: { schools, take10Visitors, waterGiven, mealsForTamariki },
} = Astro.props;
---

<section class="bg-slate-800 text-white">
  <div class="section-container">
    <h2 class="text-white">Our numbers</h2>
    <div class="grid justify-center gap-5 lg:grid-cols-4">
      <section>
        <Icon name="tabler:backpack" class="h-8 w-8" />
        <div>
          <h3>{schools}</h3>
          <h4>schools and kohanga reos</h4>
        </div>
      </section>
      <section>
        <Icon name="tabler:friends" class="h-8 w-8" />
        <div>
          <h3>{take10Visitors.toLocaleString()}</h3>
          <h4>Take 10 visitors</h4>
        </div>
      </section>
      <section>
        <Icon name="tabler:bottle" class="h-8 w-8" />
        <div>
          <h3>{waterGiven.toLocaleString()}</h3>
          <h4>litres of water given</h4>
        </div>
      </section>
      <section>
        <Icon name="tabler:pizza" class="h-8 w-8" />
        <div>
          <h3>{mealsForTamariki.toLocaleString()}</h3>
          <h4>meals for tamariki</h4>
        </div>
      </section>
    </div>
  </div>
</section>

<style>
  section section {
    @apply flex items-center gap-3 lg:justify-center;
  }

  h3 {
    @apply text-xl font-bold;
  }

  h4 {
    @apply text-slate-300;
  }
</style>
