---
import ProgrammeGrid from "@/components/programmes/ProgrammeGrid.astro";
import ProgrammeCard from "@/components/programmes/ProgrammeCard.astro";

interface Props {
  page: {
    dosomegood: string;
    take10: string;
    take10auckland: string;
  };
}

const {
  page: { dosomegood, take10, take10auckland },
} = Astro.props;
---

<ProgrammeGrid>
  <ProgrammeCard programme="dosomegood">
    <p>
      {dosomegood}
    </p>
  </ProgrammeCard>

  <ProgrammeCard programme="take10">
    <p>
      {take10}
    </p>
  </ProgrammeCard>

  <ProgrammeCard programme="take10-auckland">
    <p>
      {take10auckland}
    </p>
  </ProgrammeCard>
</ProgrammeGrid>

<style>
  p {
    margin-bottom: 0;
  }
</style>
