---
import { Image } from "astro:assets";
import { Icon } from "astro-icon/components";

import Section from "@/components/layouts/section.astro";

import Newsletter from "@/components/Newsletter.astro";
import { NewsletterModal } from "@/components/pages/home/NewsletterModal.tsx";

import { Rainbow } from "./Rainbow";

import { menuLinks } from "@/lib/links";
---

<!--<NewsletterModal client:idle><Newsletter /></NewsletterModal>-->
<footer
  class="mt-auto border-t border-amber-50 bg-[#fefbf2] text-center text-sm lg:text-left"
  transition:animate="none"
>
  <Section class="space-y-9 py-12">
    <nav class="grid justify-center gap-6 lg:grid-cols-5">
      {
        Object.keys(menuLinks).map((menu) => (
          <div>
            <h2 class="mb-3 text-center font-semibold text-stone-400 lg:text-left">
              {menu}
            </h2>
            <ul class="space-y-3">
              {menuLinks[menu].map((link) => (
                <li>
                  <a href={link.href} rel="prefetch">
                    {link.title}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }

      <div class="lg:col-span-2">
        <h2 class="mb-3 text-center font-semibold text-stone-400 lg:text-left">
          Contact Us
        </h2>

        <ul class="mb-6 flex gap-6">
          <li class="flex items-center gap-1.5">
            <Icon name="tabler:at" class="size-5" />
            <a href="mailto:hello@vsctrust.org.nz">hello@vsctrust.org.nz</a>
          </li>
          <li class="flex items-center gap-1.5">
            <Icon name="tabler:phone" class="size-5" />
            <a href="tel:+64274448672">+64 27 444 8672</a>
          </li>
        </ul>

        <h2 class="mb-3 text-center font-semibold text-stone-400 lg:text-left">
          Follow Us
        </h2>

        <div class="flex justify-center gap-9 lg:justify-start">
          <div
            class="flex flex-col items-center justify-center gap-3 lg:justify-start"
          >
            <Image
              src={import("../../assets/img/logo/dosomegood.png")}
              width="48"
              height="48"
              alt="Do Some Good logo"
            />

            <div class="flex flex-wrap gap-3">
              <a
                href="https://www.facebook.com/dosomegoodnewzealand/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                aria-label="Do Some Good Facebook page"
              >
                <Icon name="tabler:brand-facebook" class="size-5" />
              </a>

              <a
                href="https://www.instagram.com/dosomegoodnz/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                aria-label="Do Some Good Instagram page"
              >
                <Icon name="tabler:brand-instagram" class="size-5" />
              </a>
            </div>
          </div>

          <div
            class="flex flex-col items-center justify-center gap-3 lg:justify-start"
          >
            <Image
              src={import("../../assets/img/logo/take10.png")}
              width="48"
              height="48"
              alt="Take 10 logo"
            />

            <div class="flex flex-wrap gap-3">
              <a
                href="https://www.facebook.com/take10wgtn/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                aria-label="Take 10 Facebook page"
              >
                <Icon name="tabler:brand-facebook" class="size-5" />
              </a>
              <a
                href="https://www.instagram.com/take10wgtn/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                aria-label="Take 10 Instagram page"
              >
                <Icon name="tabler:brand-instagram" class="size-5" />
              </a>
            </div>
          </div>

          <div
            class="flex flex-col items-center justify-center gap-3 lg:justify-start"
          >
            <Image
              src={import("../../assets/img/logo/take10-auckland.png")}
              width="48"
              height="48"
              alt="Take 10 Auckland logo"
            />

            <div class="flex flex-wrap gap-3">
              <a
                href="https://www.facebook.com/take10auckland/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                aria-label="Take 10 Auckland Facebook page"
              >
                <Icon name="tabler:brand-facebook" class="size-5" />
              </a>

              <a
                href="https://www.instagram.com/take10auckland/"
                target="_blank"
                rel="noreferrer noopener nofollow"
                aria-label="Take 10 Auckland Instagram page"
              >
                <Icon name="tabler:brand-instagram" class="size-5" />
              </a>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <div class="flex flex-col items-center gap-3">
      <Image
        src={import("../../assets/img/icon.png")}
        width="72"
        height="72"
        alt="Vulnerable Support Charitable Trust logo"
        class="mx-auto"
      />

      <p class="text-stone-400">
        &copy;
        {new Date().getFullYear()} Vulnerable Support Charitable Trust
      </p>

      <p class="text-stone-400">
        We are a registered charity
        <a
          href="https://register.charities.govt.nz/Charity/CC55753"
          target="_blank"
        >
          CC55753</a
        >
      </p>

      <Rainbow client:visible>
        <Icon name="rainbow" class="h-8 w-12 rounded-lg" />
      </Rainbow>
    </div>
  </Section>
</footer>
