@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Sora";
  font-display: swap;
  src: url("/fonts/Sora.woff2") format("woff2");
}

body {
  font-family: "Sora", sans-serif;
}

.section-full-container > h2,
main ul,
main p:not(:last-child) {
  margin-bottom: 1rem;
}

main ul {
  margin-left: 1.5rem;
  list-style-type: disc;
}

main a:hover,
footer a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 3px;
}

/* Misc */
.shadow-border {
  border: 1px solid black;
  box-shadow:
    1px 1px 0 0 black,
    2px 2px 0 0 black,
    3px 3px 0 0 black,
    4px 4px 0 0 black,
    5px 5px 0 0 black;
}

.shadow-text {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.shadow {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  box-shadow:
    1px 1px 0 0 black,
    2px 2px 0 0 black,
    3px 3px 0 0 black,
    4px 4px 0 0 black,
    5px 5px 0 0 black;
}

@layer utilities {
  .shadow-button {
    text-shadow:
      -1px -1px 0 #000,
      1px -1px 0 #000,
      -1px 1px 0 #000,
      1px 1px 0 #000;
    box-shadow:
      1px 1px 0 0 black,
      2px 2px 0 0 black,
      3px 3px 0 0 black,
      4px 4px 0 0 black,
      5px 5px 0 0 black;
  }
}
