@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Mulish";
  font-display: swap;
  src: url("/fonts/Mulish.woff2") format("woff2");
}

body {
  font-family: "Mulish", sans-serif;
  font-synthesis: none; /* Fix Safari bug with ugly bolded text */
}

.section-container > h2,
.section-full-container > h2,
p,
main ul {
  margin-bottom: 1rem;
}

main ul {
  margin-left: 1.5rem;
  list-style-type: disc;
}

main a:hover,
footer a:hover {
  text-decoration: underline 2px;
  text-underline-offset: 3px;
}

.section-container {
  @apply mx-auto px-5 py-8 lg:container;
}

.section-full-container {
  @apply mx-auto py-8;
}

/* Misc */
.shadow-border {
  @apply border border-black shadow-box;
}

.shadow-text {
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.shadow-button {
  @apply shadow-border shadow-text relative inline-block rounded-md px-4 py-2 font-bold tracking-wide text-white no-underline hover:no-underline active:left-1 active:top-1 active:shadow-none;
}
